In [1]:
import os 
import pandas as pd

In [10]:
df= pd.read_csv('TS021-2021-3-filtered-2024-11-21T17_12_47Z.csv')

In [11]:
df.head()

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
0,E01008288,Newcastle upon Tyne 027A,-8,Does not apply,0
1,E01008288,Newcastle upon Tyne 027A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",29
2,E01008288,Newcastle upon Tyne 027A,2,"Asian, Asian British or Asian Welsh: Chinese",11
3,E01008288,Newcastle upon Tyne 027A,3,"Asian, Asian British or Asian Welsh: Indian",36
4,E01008288,Newcastle upon Tyne 027A,4,"Asian, Asian British or Asian Welsh: Pakistani",52

In [15]:
name = ['Newcastle upon Tyne 039D','Newcastle upon Tyne 038A','Newcastle upon Tyne 038B','Newcastle upon Tyne 038C'
        ,'Newcastle upon Tyne 038D','Newcastle upon Tyne 038E','Newcastle upon Tyne 027D','Newcastle upon Tyne 041A',
        'Newcastle upon Tyne 041B', 'Newcastle upon Tyne 041C']  #All the LSOA in Elswick

In [16]:
df = df[df['Lower layer Super Output Areas'].isin(name)]

In [19]:
df.head(20)

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
60,E01008291,Newcastle upon Tyne 027D,-8,Does not apply,0
61,E01008291,Newcastle upon Tyne 027D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",138
62,E01008291,Newcastle upon Tyne 027D,2,"Asian, Asian British or Asian Welsh: Chinese",30
63,E01008291,Newcastle upon Tyne 027D,3,"Asian, Asian British or Asian Welsh: Indian",19
64,E01008291,Newcastle upon Tyne 027D,4,"Asian, Asian British or Asian Welsh: Pakistani",55
65,E01008291,Newcastle upon Tyne 027D,5,"Asian, Asian British or Asian Welsh: Other Asian",82
66,E01008291,Newcastle upon Tyne 027D,6,"Black, Black British, Black Welsh, Caribbean o...",286
67,E01008291,Newcastle upon Tyne 027D,7,"Black, Black British, Black Welsh, Caribbean o...",4
68,E01008291,Newcastle upon Tyne 027D,8,"Black, Black British, Black Welsh, Caribbean o...",12
69,E01008291,Newcastle upon Tyne 027D,9,Mixed or Multiple ethnic groups: White and Asian,13
70,E01008291,Newcastle upon Tyne 027D,10,Mixed or Multiple ethnic groups: White and Bla...,24
71,E01008291,Newcastle upon Tyne 027D,11,Mixed or Multiple ethnic groups: White and Bla...,3
72,E01008291,Newcastle upon Tyne 027D,12,Mixed or Multiple ethnic groups: Other Mixed o...,12
73,E01008291,Newcastle upon Tyne 027D,13,"White: English, Welsh, Scottish, Northern Iris...",998
74,E01008291,Newcastle upon Tyne 027D,14,White: Irish,11
75,E01008291,Newcastle upon Tyne 027D,15,White: Gypsy or Irish Traveller,30
76,E01008291,Newcastle upon Tyne 027D,16,White: Roma,38
77,E01008291,Newcastle upon Tyne 027D,17,White: Other White,205
78,E01008291,Newcastle upon Tyne 027D,18,Other ethnic group: Arab,45
79,E01008291,Newcastle upon Tyne 027D,19,Other ethnic group: Any other ethnic group,96

In [35]:
df['Ethnic group (20 categories)'].unique()

array(['Does not apply',
       'Asian, Asian British or Asian Welsh: Bangladeshi',
       'Asian, Asian British or Asian Welsh: Chinese',
       'Asian, Asian British or Asian Welsh: Indian',
       'Asian, Asian British or Asian Welsh: Pakistani',
       'Asian, Asian British or Asian Welsh: Other Asian',
       'Black, Black British, Black Welsh, Caribbean or African: African',
       'Black, Black British, Black Welsh, Caribbean or African: Caribbean',
       'Black, Black British, Black Welsh, Caribbean or African: Other Black',
       'Mixed or Multiple ethnic groups: White and Asian',
       'Mixed or Multiple ethnic groups: White and Black African',
       'Mixed or Multiple ethnic groups: White and Black Caribbean',
       'Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups',
       'White: English, Welsh, Scottish, Northern Irish or British',
       'White: Irish', 'White: Gypsy or Irish Traveller', 'White: Roma',
       'White: Other White', 'Other ethnic group: Arab',
       'Other ethnic group: Any other ethnic group'], dtype=object)

In [42]:
values_to_include = [1, 2, 3, 4, 5, 6, 7, 8, 15, 16, 17, 18, 19] # None British&Irish
noneBI_sum = df[df['Ethnic group (20 categories) Code'].isin(values_to_include)]['Observation'].sum()

In [43]:
noneBI_sum

11769

In [44]:
values_to_include = [9, 10, 11, 12] # Mixed
mixed_sum = df[df['Ethnic group (20 categories) Code'].isin(values_to_include)]['Observation'].sum()

In [45]:
mixed_sum

522

In [46]:
values_to_include = [13, 14] # British&Irish 
BI_sum = df[df['Ethnic group (20 categories) Code'].isin(values_to_include)]['Observation'].sum()

In [47]:
BI_sum

6692